.TeacherDashboardResources {

}
.header_wrapper{
	margin: 0px 30px 0px 30px;
	border-bottom: 1px solid #999999;
}
.resources_header{
	font-family:'Roboto';
	font-weight:300;
	font-size:25px;
	height:27px;
	width:115px;
	margin: 27px 28px 0px 0px;
	color:#999999;
	display:inline-block;
}
.new_folder_btn{
	border-radius:0px;
	width:85px;
	height:27px;
	font-family: 'Roboto';
	font-weight:700;
	font-size:11px;
	margin-right:0px;
}
.delete_btn{
	border-radius:0px;
	width:62px;
	height:27px;
	font-family: 'Roboto';
	font-weight:700;
	font-size:11px;
	margin:0px 5px 0px 0px;
}
.open_in_tabs_btn{
	border-radius:0px;
	width:94px;
	height:27px;
	font-family: 'Roboto';
	font-weight:700;
	font-size:11px;
}
.resources_subheader{
	font-family:'Roboto';
	font-weight:900;
	font-size:12px;
	margin:35px 0px 3px 0px;
	
}
